<h2>{{i18n.addressbooks.entriesTitle}}</h2>

<a class="btn btn-round btn-primary create-entry-btn js-create-entry" href="" data-list-id="{{listId}}"
	title="{{i18n.addressbooks.addEntryBtnText}}">
	<i class="fa fa-plus"></i>
</a>

<a class="btn js-import-csv" href="" data-list-id="{{listId}}" title="{{i18n.addressbooks.importCSVbtnText}}">
	Import CSV
</a>

<table id="entries-table" class="entries-table">
	<thead>
		<tr>
			<th class="etable_index-col">№</th>
			<th>{{i18n.addressbooks.entriesTable.columnHeader.name}}</th>
			<th>{{i18n.addressbooks.entriesTable.columnHeader.firstName}}</th>
			<th>{{i18n.addressbooks.entriesTable.columnHeader.lastName}}</th>
			<th>{{i18n.addressbooks.entriesTable.columnHeader.numberAndPattern}}</th>
			<th>{{i18n.addressbooks.entriesTable.columnHeader.type}}</th>
			<th class="etable_actions-col no-sort">
				{{i18n.addressbooks.entriesTable.columnHeader.actions}}
			</th>
		</tr>
	</thead>
	<tbody>
	{{#each this.entries}}
		<tr class="js-item" id="{{id}}" data-entry-id="{{id}}" data-list-id="{{@root.listId}}">
			<td class="etable_index-col">{{inc @index}}</td>

			<td class="js-entry-name">{{ value.displayname }}</td>
			<td class="js-entry-name">{{ value.firstname }}</td>
			<td class="js-entry-name">{{ value.lastname }}</td>
			<td class="js-entry-name">
				{{ value.number }} {{ value.pattern }}
			</td>
			<td class="js-entry-name">{{ value.type }}</td>
			<td class="etable_actions-col">
				{{{ @root.entriesButtons }}}
			</td>
		</tr>
	{{/each}}
	</tbody>
</table>